#pag-home {
    display: flex;
    width: 100vw;
    height: 100vh;
    
    #tela {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        
        main {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 92vh;
            background-color: #F5F6FA;
    
            img {
                width: 60%;
                height: 60%;
                opacity: 0.4;
            }
    
        }
    }
}