#comp-menu {
    background-color: #303030;
    min-width: 270px;
    display: flex;
    flex-direction: column;

    main {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
    }

    #info-empresa {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 20px;
        padding-top: 8px;
    }

    nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;

        a {
            display: flex;
            height: 70px;
            color: white;
            align-items: center;
            padding-left: 60px;
            gap: 20px;
            text-decoration: none;

            p {
                font-weight: 500;
            }
        }

        a:hover {
            background-color: #212169;
        }

        #selecionado {
            background-color: #3936CD;
        }
    }

    footer {
        display: flex;
        align-items: center;
        padding-left: 60px;
        color: white;
        font-weight: 500;
        gap: 20px;
        cursor: pointer;
        padding-bottom: 50px;
        img {
            transform: rotate(180deg);
        }
    }

}