#comp-cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 83.5vw;
    padding: 0px 25px;
    box-shadow: 2px black solid;

    p {
        font-weight: 500;
        color: #303030;
        font-size: 17px;
    }
    
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        width: 43px;
        height: 43px;
        background-color: #3936CD;
        border-radius: 25px;
        p {
            color: white;
            font-size: 20px;
        }
    }
}