#comp-cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding: 0px 40px;

    p {
        font-weight: 500;
        color: #303030;
        font-size: 17px;
    }
    
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 43px;
        height: 43px;
        background-color: #3936CD;
        border-radius: 25px;
        p {
            color: white;
            font-size: 20px;
        }
    }
}